#conheca{
    background-image: url("../../assets/conheca.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#conheca .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conheca .box span{
    width: 100%;
    display: flex;
}

#conheca .box span .text{
    width: 27vw;
    max-width: 490px;

}


#conheca .box .text h1{
    font-size: 3rem;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

#conheca .box .text h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.3rem;  
}

#conheca .box img{
    margin-right: 5%;
    margin-left: 15%;
    border-radius: 32px;
    height: 45vh;
    width: 30vw;
}