#conheca{
    background-image: url("../../assets/conheca.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

#conheca .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conheca .box span{
    width: 100%;
    display: grid;
}


#conheca .box span .text{    
    margin-bottom: 3%;
    width: 100%;
    position: relative;
    text-align: center;
}


#conheca .box  h1{
    font-size: 3rem;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
    max-width: 5%;
    margin-left: 46%;
    margin-right: 46%;
}

#conheca .box .text h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.3rem;
}

#conheca .box img{
    border-radius: 32px;
    height: 42vh;
    width: 20vw;
    margin-right: 4%;
    margin-left: 4%;
}

#conheca .box .grid {
    display: flex;
    justify-content: center;
}