#contato{
    background-color: black;
}

#contato .title h1{
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
    margin-left: 40%;
    margin-top: 5%;
    width: 18%;
}

#contato .inside{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 6%;
}

#contato .box .inside .left h2{
    margin-left: 5%;
}

#contato .box{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

#contato .inside .left{
    display: flex;
    flex-direction: column;
}

#contato .inside .left a{
    border-radius: 32px;
    display: flex;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.226);
    margin-top: 5%;
    padding: 30px 15%;
    margin-left: 5%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    transition-duration: 500ms;

}

#contato .inside .left h3{
    width: 100%;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

#contato .inside .left a:hover,
#contato .inside .right input:hover{
    transition-duration: 500ms;
    transform: scale(1.1);
    background-color: rgba(63, 0, 0, 0.966);

}

#contato .box .inside .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato .box .right h2{
    width: 100%;
}

#contato .inside .right form{
    margin-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#contato .inside .right label{
    color: white;
    font-size: 1.5rem;
}

#contato .inside .right input{
    transition-duration: 500ms;

    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 32px;
    width: 60%;
    height: 3vh;
    outline: none;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#contato .inside .right .down{
    width: 100%;

    display: flex;
    flex-direction: row;
}

#contato .inside .right .down form{
    margin-top: 0;
}

#contato .inside .right .down input{
    text-align: center;
    color: white;

    width: 70%;

}

#contato #msg{
    margin-top: 0;
}

#contato #msg{
    height: 100%;
    width: 100%;
}

#contato #msg input {
    width: 100%;
    height: 100%;
    font-size: 1.7rem;

}