#horarios{
    background-image: url("../../assets/horarios.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

#scroll2{
    width: 100%;
    height: 100%;  
}

#horarios .date{
    width: 100%;
    height: 100%;
}

#horarios .blocos,
#start{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

#start{
    display: flex;
}

#horarios h1, h2, h3, h4, h5{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

#horarios .headerTitle{
    font-size: 3.5rem;
    margin-left: 31%;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}


#horarios .start  .titleblock{
    font-size: 3rem;
}

#horarios nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    
}

#horarios nav label {
    background-color: rgb(255, 255, 255);
    padding: 0.4vh 2vw;
    border-radius: 32px;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 1.1rem;
    transition-duration: 600ms;
    
}

#horarios nav label:hover{
    transition-duration: 600ms;
    transform: scale(1.2);
    
    background-color: rgb(141, 141, 141);
    
}

#horarios nav .center{
    transform: translate3d(0px, -5px, 0);
    padding: 1.2vh 2.7vw;
}

#horarios .inside{
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horarios .inside h1{
    font-size: 3rem;
}

#horarios .inside  img{
    border-radius: 16px;
    margin-top: 3vh;
    width: 60%;
    height: 70%;
    box-shadow: 0px 10px 10px black;
}

#horarios .insidMain{
    font-size: 3rem;
}

#horarios .insidMain,
#horarios .footerText{
    padding: 1vh 2vw 1vh 2vw;
    background-color: black;
    border-radius: 32px;
}

#horarios h2{
    margin-top: 3.5%;
}
