#inicio {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


#inicio .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio .box span{
    width: 100%;
    display: flex;
}

#inicio .box span .text{
    width: 27vw;
}

#inicio .box .text h1{
    font-size: 3rem;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

#inicio .box .text h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.3rem;
}

#inicio .box img{
    margin-left: 15%;
    margin-right: 5%;
    border-radius: 32px;
    height: 45vh;
    width: 30vw;

}