*{
    margin:0;
    padding: 0;
    border: 0;
}

body{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.sections,
.date {
    transition: all.5s;
}

#scroll .input{
    display: none;
}

.bloco{
    width: 100%;
    height: 100vh;
}

.bloco header{
        height: 1px;
        width: 100%;
        background: white;

}


#_conheca:checked ~ section {
    margin-top: -100vh;
}

#_contato:checked ~ section {
    margin-top: -200vh;
}

#_horarios:checked ~ section {
    margin-top: -300vh;
}

#_desenvolvedor:checked ~ section {
    margin-top: -400vh;
}

    /* HORARIOS */

#_segunda:checked ~ .date #segunda{
    display: flex;
}

#_terca:checked ~ .date #terca {
    display: flex;
}
#_quarta:checked ~ .date #quarta {
    display: flex;
}
#_quinta:checked ~ .date #quinta {
    display: flex;
}
#_sexta:checked ~ .date #sexta {
    display: flex;
}

#scroll2 .input:checked ~ .date #start{
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  [data-anime]{
    transition: .3s;
    opacity: 0;
}

[data-anime="left"]{
    transform: translate3d(-300px, 0, 0);

}

[data-anime="right"]{
    transform: translate3d(+100px, 0, 0);

}

[data-anime="right-title"]{
    transition-duration: 900ms;
    transform: translate3d(+200px, 0, 0);
    transform: scale(4);
}

[data-anime="horarios-title"]{
    transition-duration: 900ms;
    transform: translate3d(+200px, 0, 0);
    transform: scale(2.5);
}

[data-anime="center-img"]{
    transition-duration: 900ms;
    transform: translate3d(+200px, 0, 0);
    transform: scale(0.8);

}

[data-anime="delay-opacity"] {
    transition-duration: 2200ms;
}

[data-anime].animate{
opacity: 1;
transform: translate3d(0px, 0px, 0px);
}
