#main{
    display: flex;
}

#main header{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 9vh;
    background-color: rgba(255, 241, 241, 0.432);

}

#main header .title{
width: 100%;
display: flex;
justify-content: center;
}

#main header .title h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    color: black;
}

#main header .inside{
    display: grid;
    align-items : center;
    grid-auto-flow: column;
    grid-template: 20% 80%;
    width: 100%;
    height: 100%;
}

#main header nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Kaushan Script', cursive;
}

#main header nav label{
    background-color: rgb(0, 0, 0);
    padding: 0.4vh 2vw;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    cursor:pointer;

}

#main header nav label:hover{
    transition-duration: 300ms;
    transform: scale(1.1);
    background-color: rgba(121, 118, 118, 0.651);
}

#main header nav .last{
    margin-right: 10vw;
}
  
#main .progress-bar {
    height: 1px;
    background: white;
    width: 0%;
  }

#main .box.hide{
    opacity: 1;
    transition: opacity .5s linear;

    opacity: 0;
    pointer-events: none;
}