@media (max-width: 1230px) {
    #main header .title h1{
        font-size: 1.7rem;
    }
    
    #main header nav {
        transform: scale(0.9);
    }
    }
    
    @media (max-width: 750px) {
        #main header .title h1{
            transition-duration: 400ms;
    
            font-size: 1rem;
        }
    
        #main header nav {
            transform: scale(0.7);
            
        }
    }
    
    
    @media (max-width: 460px){
        #inicio .box span img,
        #conheca .box span img{   
        height: 30vh;
        }
    }
    
    @media (max-width: 660px) {
    
        #inicio, #conheca{
            background-size: 290%;
        }

        #main header .inside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            }
        
            #main header nav label {
                margin-right: 2%;
            }
    
        #inicio .box span{
            flex-direction: column;
        }
    
        #inicio .box span .text{
            width: 100%;
    
        }

        #inicio .box span .text h4{
            margin-right: 3%;
            margin-left: 3%;
            text-align: center;
            font-size: 0.9rem;
        }
    
        #conheca .box span .text h4{
            margin-left: 4%;
            text-align: left;
            font-size: 0.9rem;
        }
    
        #inicio .box span img{
            border-radius: 64px;
            margin-left: 21%;
            width: 60vw;
        }
    
        
        #conheca .box span .text{
            position: relative;
            margin-right: 2%;
        }
    
        #conheca .box span .grid img{
            border-radius: 64px;
            width: 50vw;
            height: 25vh;
        }
    
        #conheca .box span .inside {
            display: flex;
        }
    
        #conheca .box span .grid{
            margin-right: 2%;
            margin-left: 2%;
            display: flex;
            flex-direction: column;
        }
    
        #conheca .box span .title{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    
        #conheca .box span h1{
            margin-left: 25%;
        }
    
        #conheca .box span .last{
            display: none;
        }
        
        #conheca .box span .center{
            margin-top: 5%;
        }
    
        [data-anime="right-title"]{
            transition-duration: 900ms;
            transform: translate3d(+200px, 0, 0);
            transform: scale(1.6);
        }

        #conheca .box .redes a {
            margin-left: 3.2vw;
            margin-right: 3.2vw;

        }
        
        #contato .title h1 {
            width: 100%;
            margin: 0;
            margin-left: 3%;
            transform: scale(0.8);
        }

        #conheca .box .redes h4{
        font-size: 100%;
        }

        #contato .box .inside {
            display: flex;
            flex-direction: column;
        }

        #contato .box .inside .right .desktop{
            display: none;
        }

        #contato .box .inside .left{
            width: 100%;
        }

        #contato .inside .left a {
        transform: scale(0.8);
        padding: 20px 15%;
        margin-left: 0;

        }

        #contato .inside .right label{
            margin-top: 3%;

        }

        #contato #msg input{
            width: 90%;
            padding: 5px 0;
            font-size: 1rem;
        }

        #contato .box .inside .left h2{
            margin-left: 0;
        }

        #horarios nav {
            width: 50%;
            margin: 0;
            height: 10%;

        }

        #horarios .date .headerTitle{
        font-size: 1.8rem;
        width: 100%;
        max-width: 100%;
        margin: 0;
        }

        #horarios .date h1{
            font-size: 1.8rem;
        }

        #horarios{
        background-size: 300%;
        }

        #horarios .inside  img{
            width: 100%;
            height: 70%
        }        

        #horarios nav label{
            margin-left: 2%;
            margin-right: 2%;
            transform: scale(0.8);
        }

        #horarios .insidMain,
        #horarios .footerText{
        margin-top: 5%;
        font-size: 1.2rem;
            margin-top: 8%;
}

    [data-anime="horarios-title"]{
        transition-duration: 900ms;
        transform: translate3d(+200px, 0, 0);
        transform: scale(0.8);
    }












    #conheca{
        background-image: url("../../assets/Background-Mobile/conheca.jpg");
    }

    #horarios{
        background-image: url("../../assets/Background-Mobile/horarios.jpg");
    }
}